*node_modules/
.vite/
dist/
.env*
!.env.example
.DS_Store
Thumbs.db
*.log
*.zip
*.DS_Store
*.DS_Store_metadata
*.DS_Store?**/.DS_Store
*.DS_Store/**/.*
*.DS_Store/*.*
*.DS_Store/**/*.DS_Store
.idea/
.vscode/
*.swp
*.swo
swp.*
*.orig
*.backup
cover
logs
*.tfevents2